h1::before
{
  content: 'Chapter ' counter(chapter);
  display: block;
}

h1
{
  string-set: chapter content();
}

section
{
  counter-increment: chapter;
  display: block;
  page-break-after: always;
  page-break-before: always;
}

section section
{
  page-break-after: auto;
  page-break-before: auto;
}

section section,
.front-cover,
.table-of-contents
{
  counter-increment: none;
}

section section h1
{
  string-set: none;
}

section section h1::before
{
  content: normal;
}

#jump-to-nav,
#siteSub,
#toc,
.magnify,
.printfooter
{
  display: none;
}

.front-cover
{
  font-size: 24pt;
  text-align: center;
}

.glossary
{
  columns: 2;
}

.table-of-contents a::after
{
  content: leader('.') target-counter(attr(href), page);
}

@page
{
  @top-left
  {
    content: 'Chapter ' counter(chapter) ': ' string(chapter);
  }

  @top-right
  {
    content: counter(page);
  }
}
