h,
h1
{
  display: block;
  font-size: 24pt;
  font-weight: bold;
  prince-bookmark-level: 1;
  margin: 1in 0;
}

h1
{
  string-set: chapter content();
}

h1::before
{
  content: 'Chapter ' counter(chapter);
  font-size: 14pt;
  display: block;
}

section
{
  counter-increment: chapter;
  display: block;
  page-break-after: always;
  page-break-before: always;
}

section section
{
  margin: .5in 0;

  /* Reset section style */

  page-break-after: auto;
  page-break-before: auto;
}

section section,
.front-cover,
.table-of-contents
{
  counter-increment: none;
}

section section h1
{
  font-size: 18pt;
  margin: .25in 0;
  prince-bookmark-level: 2;

  /* Reset h1 style */

  string-set: none;
}

section section h2
{
  prince-bookmark-level: 3;
}

section section h1::before
{
  /* Reset h1::before style */

  content: normal;
}

.front-cover
{
  text-align: center;
}

.glossary #bodyContent
{
  columns: 2;
  -webkit-columns: 2;

  /* Firefox doesn't yet support columns: or -moz-columns: */

  -moz-column-count: 2;
}

.glossary #bodyContent > *
{
  margin-left: 2em;
}

.glossary #bodyContent > h2
{
  font-size: inherit;
  margin-left: 0;
}

.magnify,
.printfooter,
#jump-to-nav,
#siteSub,
#toc
{
  display: none;
}

.table-of-contents a
{
  color: #000;
  text-decoration: none;
}

.table-of-contents a::after
{
  /* Prince 7.0 doesn't support leader(dotted), but apparently it's equivalent
   * to leader('. '), http://www.w3.org/TR/css3-gcpm/#leaders */

  content: leader('. ') target-counter(attr(href), page);
}

.table-of-contents li
{
  margin: 1em 0;
  orphans: 3;
  widows: 3;
}

.table-of-contents ol
{
  font-weight: bold;
}

.table-of-contents ol ol
{
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.table-of-contents ol ol a::after
{
  /* Likewise leader(space) is apparently equivalent to leader(' ') */

  content: leader(' ') target-counter(attr(href), page);
}

.table-of-contents ol ol li
{
  list-style: none;
  margin: 0;
}

.thumbinner
{
  width: auto !important;
}

@page
{
  @top-left
  {
    content: 'Chapter ' counter(chapter) ': ' string(chapter);
  }

  @top-right
  {
    content: counter(page);
  }
}
