section
{
  display: block;
  page-break-after: always;
  page-break-before: always;
}

section section
{
  page-break-after: auto;
  page-break-before: auto;
}

#jump-to-nav,
#siteSub,
.magnify,
.printfooter
{
  display: none;
}

.front-cover
{
  font-size: 24pt;
  text-align: center;
}

.table-of-contents a::after
{
  content: leader('.') target-counter(attr(href), page);
}
