@page
{
  font-size: 9pt;

  @footnotes
  {
    border-top: .1pt solid;
    padding-top: .5em;
  }

  @top-left
  {
    content: 'Chapter ' counter(chapter) ': ' string(chapter);
  }

  @top-right
  {
    content: counter(page);
  }
}

@page front-cover
{
  @top-left
  {
    content: normal;
  }

  @top-right
  {
    content: normal;
  }
}

@page glossary
{
  @top-left
  {
    content: 'Glossary';
  }
}

@page table-of-contents
{
  @top-left
  {
    content: 'Table of Contents';
  }

  @top-right
  {
    content: counter(page, lower-roman);
  }
}

body
{
  /* Reset */

  background: transparent;
  margin: 0;
}

h1
{
  string-set: chapter content();
}

h2,
section section section h1
{
  prince-bookmark-level: 3;
}

h3,
section section section h2
{
  prince-bookmark-level: 4;
}

ol,
p,
ul,
.table-of-contents li
{
  orphans: 3;
  widows: 3;
}

section
{
  page-break-after: always;
  page-break-before: always;
}

section section
{
  /* Reset section */

  page-break-after: auto;
  page-break-before: auto;
}

section section h1
{
  prince-bookmark-level: 2;

  /* Reset h1 */

  string-set: none;
}

.front-cover
{
  page: front-cover;
}

section.glossary
{
  page: glossary;
}

.table-of-contents
{
  page: table-of-contents;
}

.note,
.thumb
{
  page-break-inside: avoid;
}

/* TODO Better way to select same-document references */

.term:after,
.thumb :link[href]:after,
.thumb :visited[href]:after,
:link[href*='file:']:after,
:visited[href*='file:']:after
{
  /* Reset */

  content: normal;
  float: none;
  font-family: inherit;
}

:link:after,
:visited:after
{
  content: attr(href);
  float: footnote;
  footnote-style-position: inside;
  font-family: monospace;
  margin: .15em 0;
}

:link[href^='/']:after,
:visited[href^='/']:after
{
  content: 'http://ica-atom.org' attr(href);
}

:link:after:footnote-call,
:visited:after:footnote-call
{
  font: 9pt serif;
  line-height: 0;
  vertical-align: super;
}

:link:after:footnote-marker,
:visited:after:footnote-marker
{
  color: #000;
  font: 9pt serif;
}
