@page
{
  font-size: 9pt;

  @footnotes
  {
    border-top: .1pt solid;
    padding-top: .5em;
  }

  @top-left
  {
    content: 'Chapter ' counter(chapter) ': ' string(chapter);
  }

  @top-right
  {
    content: counter(page);
  }
}

@page contributors
{
  @top-left
  {
    content: 'Contributors';
  }

  @top-right
  {
    content: counter(page, lower-roman);
  }
}

@page front-cover
{
  @top-left
  {
    content: normal;
  }

  @top-right
  {
    content: normal;
  }
}

@page glossary
{
  @top-left
  {
    content: 'Glossary';
  }
}

@page table-of-contents
{
  @top-left
  {
    content: 'Table of Contents';
  }

  @top-right
  {
    content: counter(page, lower-roman);
  }
}

body
{
  /* Reset */

  background: transparent;
  margin: 0;
}

h1
{
  string-set: chapter content();
}

ol,
p,
ul,
.table-of-contents li
{
  orphans: 3;
  widows: 3;
}

section
{
  page-break-after: always;
  page-break-before: always;
}

section.glossary
{
  page: glossary;
}

section section
{
  /* Reset section */

  page-break-after: auto;
  page-break-before: auto;
}

section section h,
section section h1,
section section h2,
section section h3,
section section h4,
section section h5,
section section h6
{
  prince-bookmark-level: 2;

  /* Reset h1 */

  string-set: none;
}

section section section h,
section section section h1,
section section section h2,
section section section h3,
section section section h4,
section section section h5,
section section section h6
{
  prince-bookmark-level: 3;
}

section section section section h,
section section section section h1,
section section section section h2,
section section section section h3,
section section section section h4,
section section section section h5,
section section section section h6
{
  prince-bookmark-level: 4;
}

.contributors
{
  page: contributors;
}

.contributors h,
.contributors h1,
.contributors h2,
.contributors h3,
.contributors h4,
.contributors h5,
.contributors h6
{
  prince-bookmark-level: none;
}

.front-cover
{
  page: front-cover;
}

.table-of-contents
{
  page: table-of-contents;
}

.note,
.thumb
{
  page-break-inside: avoid;
}

/* TODO Better way to select same-document references */

.thumb :link[href]:after,
.thumb :visited[href]:after,
:link[href*='file:']:after,
:visited[href*='file:']:after
{
  /* Reset */

  content: normal;
  float: none;
  font-family: inherit;
}

:link:after,
:visited:after
{
  content: attr(href);
  float: footnote;
  footnote-style-position: inside;
  font-family: monospace;
  margin: .15em 0;
}

:link[href^='/']:after,
:visited[href^='/']:after
{
  content: 'http://ica-atom.org' attr(href);
}

:link:after:footnote-call,
:visited:after:footnote-call
{
  font: 9pt serif;
  line-height: 0;
  vertical-align: super;
}

:link:after:footnote-marker,
:visited:after:footnote-marker
{
  color: #000;
  font: 9pt serif;
}
