body
{
  background: url(background.svg) no-repeat fixed;
  -webkit-background-size: 26px 380px;

  margin: 1in;
}

h,
h1,
h2,
h3,
h4,
h5,
h6
{
  display: block;
  font-family: Anivers, sans-serif;
  font-size: 24pt;
  font-weight: normal;
  margin: 1in 0;
}

h1:before
{
  content: 'Chapter ' counters(chapter, '-');
  display: block;
  font-size: 14pt;
  margin: .5em 0;
}

img
{
  height: auto;
  max-width: 100%;
}

li.glossary
{
  display: block;
  margin-left: 0;
}

section
{
  counter-increment: chapter figure;
  display: block;
}

section > :first-child
{
  counter-reset: figure footnote;
}

section section
{
  margin: .5in 0;
}

section section > :first-child
{
  /* Reset section > :first-child */

  counter-reset: none;
}

section section,
.contributors,
.front-cover,
.table-of-contents
{
  counter-increment: none;
}

section section h,
section section h1,
section section h2,
section section h3,
section section h4,
section section h5,
section section h6
{
  font-size: 18pt;
  margin: 1em 0;
}

section section h1:before
{
  /* Reset h1:before */

  content: normal;
}

section section section h,
section section section h1,
section section section h2,
section section section h3,
section section section h4,
section section section h5,
section section section h6
{
  font-size: 14pt;
}

section section section section h,
section section section section h1,
section section section section h2,
section section section section h3,
section section section section h4,
section section section section h5,
section section section section h6
{
  font-size: 12pt;
}

section section #bodyContent > p:first-of-type:first-letter
{
  /* Reset */

  color: inherit;
  float: none;
  font-size: inherit;
}

.catlinks,
.contributors h1:before,
.glossary h1:before,
.magnify,
.printfooter,
.table-of-contents ol ol ol,
.table-of-contents .glossary ol,
#jump-to-nav,
#siteSub,
#toc
{
  display: none;
}

.front-cover
{
  text-align: center;
}

.glossary #bodyContent
{
  columns: 2;
  -webkit-columns: 2;

  /* Firefox doesn't yet support columns: or -moz-columns: */

  -moz-column-count: 2;

  font-size: 9pt;
}

.glossary .thumbinner
{
  /* Reset .thumbinner, max-width: none; overflows */

  max-width: 100%;
}

.glossary section
{
  margin-bottom: .5em;
  margin-left: 1em;
  margin-top: .5em;
}

.glossary section h,
.glossary section h1,
.glossary section h2,
.glossary section h3,
.glossary section h4,
.glossary section h5,
.glossary section h6
{
  font-size: inherit;
  margin-bottom: 0;
  margin-left: -1em;
  margin-top: 0;
}

.table-of-contents :link,
.table-of-contents :visited
{
  color: inherit;
  text-decoration: none;
}

.table-of-contents :link[href]:after,
.table-of-contents :visited[href]:after
{
  /* Prince 7.0 doesn't support leader(dotted), but apparently it's equivalent
   * to leader('. '), http://www.w3.org/TR/css3-gcpm/#leaders */

  content: leader('. ') target-counter(attr(href), page);
}

.table-of-contents li
{
  margin-bottom: 1em;
  margin-top: 1em;
}

.table-of-contents ol
{
  color: #069;
  font-family: Anivers, sans-serif;
  font-weight: bold;
}

.table-of-contents ol ol
{
  color: #000;
  font-family: serif;
  font-weight: normal;
  margin: 0;
}

.table-of-contents ol ol :link[href]:after,
.table-of-contents ol ol :visited[href]:after
{
  /* Likewise leader(space) is apparently equivalent to leader(' ') */

  content: leader(' ') target-counter(attr(href), page);
}

.table-of-contents ol ol li
{
  display: block;
  margin: .15em 0;
}

[rel~=glossary]
{
  color: inherit;
  cursor: help;
  font-weight: bold;
  text-decoration: none;
}

.thumb img
{
  box-shadow: 2pt 2pt .6em rgba(0, 0, 0, .5);
  -moz-box-shadow: 2pt 2pt .6em rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2pt 2pt .6em rgba(0, 0, 0, .5);
}

.thumb :link,
.thumb :visited
{
  background: transparent;
}

.thumbcaption:before
{
  content: 'Figure ' counters(figure, '-') '.';
  counter-increment: figure;
}

.thumbcaption
{
  font-size: 9pt;
  font-style: italic;
}

.thumbinner
{
  max-width: 50%;
}

.tright
{
  clear: right;
}

#bodyContent > p:first-of-type:first-letter
{
  color: #069;
  float: left;
  font-size: 48pt;
}

/* Clearfix */

#bodyContent > p:first-of-type:after
{
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}
